.m-chat {
  display: flex;
  flex-direction: column;

  .upper-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: rgba(176, 219, 226, 0.76);
    .game-info-actions {
      flex-grow: 4;
      display: flex;
      align-items: center;
      * {
        margin: 0;
      }
      .title {
        flex-grow: 1;
      }
      i {
        font-size: 1.7rem;
        padding: 1rem 0.3rem;

        &.back {
          color: rgb(134, 132, 0);
          font-size: 2.5rem;
          &:hover {
            color: rgb(255, 251, 0);
          }
        }
        &.menu {
          padding-left: 1rem;
          font-size: 2rem;
          &:hover {
            color: rgb(88, 88, 88);
          }
        }
      }
      .points-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(148, 127, 10);
        color: yellow;
        padding: 1rem;
        border-radius: 50px;
        .points-num {
          font-size: 1.3rem;
          padding: 0 0.3rem;
          font-weight: 700;
        }
      }
    }
    .multi-info-bar {
      display: flex;
      flex-grow: 2;
      padding-top: 0.5rem;
      p {
        max-width: 70%;
        margin: 0;
        padding: 0 1rem;
        align-self: center;
      }
      span {
        font-weight: 700;
        padding: 0 0.3rem;
      }
      &.with-action {
        button {
          flex-grow: 1;
        }
      }
      &.end {
        flex-direction: column;
        .game-summary {
          display: flex;
          padding-bottom: 0.5rem;
          .roles-info {
            width: 60%;
            p {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              padding: 0;
            }
            & > div {
              padding: 0.3rem 0;
            }
            .impostors-text {
              background-color: rgba(83, 185, 199, 0.384);
              border-radius: 10px;
            }
            .catchers {
              background-color: rgba(83, 185, 199, 0.384);
              border-radius: 10px;
            }
          }
          .points-info {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(148, 127, 10);
            p {
              display: flex;
              flex-wrap: wrap;
              padding: 0;
            }
            span {
              color: yellow;
            }
          }
        }
      }
    }
  }
  .messages-container {
    flex-grow: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 0.5rem;

    .msg-block {
      width: fit-content;
      background-color: lightblue;
      margin: 0.3rem 0;
      padding: 0.5rem 0.8rem;
      border-radius: 15px;
      &.impostor {
        align-self: flex-end;
      }
      &.self {
        background-color: lightgreen;
        align-self: flex-end;
        &.impostor-friend {
          align-self: flex-start;
        }
      }
      &.bot {
        background-color: rgb(182, 138, 42);
        align-self: flex-end;
      }
      .msg-author {
        color: rgb(14, 119, 119);
        font-weight: 700;
      }
      .msg-time {
        text-align: end;
        color: rgb(99, 99, 99);
        font-size: 0.9rem;
      }
    }
  }
  .input-container {
    flex-grow: 1;
    form,
    .input-group,
    textarea {
      height: 100%;
    }
    textarea {
      resize: none;
      border: none;
    }
    .input-group-append {
      min-width: 20%;
      button {
        width: 100%;
        font-size: 2rem;
        border-radius: 0;
      }
    }
  }
}

.inactive-chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .main-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      text-align: center;
      padding: 2rem 0.5rem;
      font-weight: 700;
    }
    i {
      font-size: 3rem;
      padding: 0 0.3rem;
    }
  }

  .get-started {
    padding: 2rem;

    .option {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      padding: 0.3rem 0;
      p {
        margin: 0 0.8rem;
      }
    }
  }
}
