.m-chat {
  display: flex;
  flex-direction: column;

  .upper-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    background-color: rgba(176, 219, 226, 0.76);
    .game-info-actions {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-bottom: 0.5rem;
      i {
        font-size: 1.7rem;
        padding: 0 0.5rem 0 1rem;
      }
    }
    .word-container {
      flex-grow: 1;
      display: flex;
      align-items: center;
      span {
        padding-right: 1rem;
      }
      .word-box {
        height: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .word {
          font-weight: 700;
        }
      }
      .skip-box {
        height: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .time {
          font-weight: 700;
        }
      }
    }
  }
  .messages-container {
    flex-grow: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 0.5rem;

    .msg-block {
      width: fit-content;
      background-color: lightblue;
      margin: 0.3rem 0;
      padding: 0.5rem 0.8rem;
      border-radius: 15px;
      &.self {
        background-color: lightgreen;
        align-self: flex-end;
      }
      .msg-author {
        color: rgb(14, 119, 119);
        font-weight: 700;
      }
      .msg-text {
      }
      .msg-time {
        text-align: end;
        color: rgb(99, 99, 99);
        font-size: 0.9rem;
      }
    }
  }
  .input-container {
    flex-grow: 1;
    form,
    .input-group,
    textarea {
      height: 100%;
    }
    textarea {
      resize: none;
      border: none;
    }
    .input-group-append {
      min-width: 20%;
      button {
        width: 100%;
        font-size: 2rem;
        border-radius: 0;
      }
    }
  }
}

.inactive-chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .main-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      text-align: center;
      padding: 2rem 0.5rem;
      font-weight: 700;
    }
    i {
      font-size: 3rem;
      padding: 0 0.3rem;
    }
  }

  .get-started {
    padding: 2rem;

    .option {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      padding: 0.3rem 0;
      p {
        margin: 0 0.8rem;
      }
    }
  }
}
