.m-login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 20px;
    background-color: $ghost-card-color-highlight;
    padding: 0.45rem 0;

    .custom-switch {
      display: inline;
    }

    .login-label {
      font-size: 1.3rem;
      padding: 0 0.3rem;
      border-radius: 5px;
      cursor: pointer;
      &.active {
        font-weight: bold;
        color: map-get($theme-colors, "primary");
        border: 1px solid map-get($theme-colors, "primary");
      }
    }
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    color: $logo-color;
    text-shadow: 1px 1px 10px $logo-shadow-color;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 3% 5% 10% 5%;
    color: $logo-color;
    text-shadow: 1px 1px 10px$logo-shadow-color;
  }

  .login-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
