// variables partial
@import "config";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// General classes
#root {
  min-height: 100vh;
  background: center
    url("https://cutewallpaper.org/21/cool-blue-wallpapers/The-Cool-Blue-HD-Wallpapers-BACKGROUNDS-Pinterest-Blue-.jpg");
  background-size: cover;
}

.App {
  min-height: 100vh;
}

.m-ghost-card {
  background-color: $ghost-card-color;
  border-radius: 5px;
  padding: 1.5rem;
  margin: 1rem 5vw;
}

.text-danger {
  background-color: rgb(255, 210, 210);
  padding: 0.3rem;
}

/* Normal nav */
.nav {
  display: flex;
  .nav-item {
    flex-grow: 1;
    .nav-link {
      text-align: center;
      border-radius: 0;
    }
  }
}

/* Second tier nav in tab panes */
.tab-pane-content {
  .nav {
    margin: 0.2rem 0.2rem 0 0.2rem;
    border-bottom: 2px solid theme-color("primary");
  }
  .nav-link {
    padding: 0.3rem;
    &.active {
      background-color: theme-color("primary");
    }
  }
}

// comportamiento estandar del contenido de tabs
.tab-content {
  flex-grow: 1;
  overflow-y: auto;
  .tab-pane {
    height: 100%;
    .tab-pane-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      border: 5px solid theme-color("primary");
    }
  }
}

// Preview tanto de partidas como de contactos
.sidebar-item-preview {
  //   text-align: center;
  background-color: $ghost-card-color;
  padding: 0.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.37);
  cursor: pointer;
  &:hover {
    background-color: rgba(184, 240, 250, 0.644);
    border: 1px solid rgb(5, 255, 242);
    transform: scaleY(0.98);
  }
  &.sticky {
    border: 1px solid rgb(5, 255, 242);
    background-color: rgba(140, 238, 255, 0.644);
  }
  &.single {
    //TODO
  }

  h3 {
    font-size: 1rem;
    pointer-events: none;
  }
  p {
    margin-bottom: 0;
    pointer-events: none;
  }
}

// acciones de la parte inferior de la sidebar
.side-action-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(93, 192, 159, 0.493);
  button {
    border-radius: 0;
    margin: 0.3rem;
    padding: 0.7rem 0.5rem;
  }
}

.text-danger {
  width: 100%;
}

// Partials
@import "landing";
@import "dashboard";
@import "sidebar_contacts";
@import "sidebar_games";
